{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
   Digital Transformation
{% endblock %}

{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/product-management">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/product-management">Back to Home</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper app-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-5">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-u-margin-bottom-5">Communities, forums & meetups</h1>
        <p class="nhsuk-body-l">Here are some useful groups to know about and participate in.</p>
        <h2 class="nhsuk-heading-l">Product management</h2>

<p><a href="https://www.mindtheproduct.com/" target="_blank" rel="noopener noreferrer">
​Mind the Product</a></p>

<p><a href="https://ukhealthcamp.com/" target="_blank" rel="noopener noreferrer">
​UK Health Camp</a></p>

<p><a href="https://www.ukgovcamp.com/" target="_blank" rel="noopener noreferrer">
​UK Gov Camp</a></p>

<p><a href="https://www.oneteamgov.uk/" target="_blank" rel="noopener noreferrer">
​OneTeamGov</a></p>

<p><a href="https://www.gov.uk/service-manual/communities/product-and-service-community" target="_blank" rel="noopener noreferrer">
​Product & Service Manager Community (UK X-gov) - Blog</a></p>

<p><a href="https://www.meetup.com/TheProductGroupLondon/" target="_blank" rel="noopener noreferrer">
​Product Group London</a></p>

<p><a href="https://www.meetup.com/product-management-london/" target="_blank" rel="noopener noreferrer">
​Product Management London</a></p>





        <h2 class="nhsuk-heading-l">Delivery management</h2>
        <p><a href="https://www.meetup.com/AdventuresWithAgile/" target="_blank" rel="noopener noreferrer">Adventures with agile</a></p>

        <h2 class="nhsuk-heading-l">Service design</h2>
        <p><a href="https://www.meetup.com/London-Gov-Design-Meetup/" target="_blank" rel="noopener noreferrer">London Gov Design Meetup</a></p>

      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-8">
        <div class="nhsuk-review-date">
          <p class="nhsuk-body-s">Updated: Janauary 2020</p>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}
