{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Product Management
{% endblock %}

{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/product-management">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/product-management">Back to Home</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper app-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-5">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-u-margin-bottom-5">Product leadership</h1>
        <p class="nhsuk-body-l">Information and resouces to help develop product and service teams.</p>
        <h2 class="nhsuk-heading-l">Teresa Torres on the recent history of product development</h2>
        <p><a href="https://www.youtube.com/watch?v=l7-5x0ra2tc" target="_blank" rel="noopener noreferrer">
​How software development has changed over the last few years and why</a></p>


        <h2 class="nhsuk-heading-l">Erika Hall on the role of design research</h2>
        <p><a href="https://youtu.be/5WtB5FRn-Sc" target="_blank" rel="noopener noreferrer">Why research-led design processes lead to better products</a></p>

        <h2 class="nhsuk-heading-l">
Henrik Kniberg's quick primer on agile product ownership</h2>
        <p><a href="https://www.youtube.com/watch?v=502ILHjX9EE" target="_blank" rel="noopener noreferrer">The role of the product owner/manager in helping the team work out what to develop</a></p>

      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-8">
        <div class="nhsuk-review-date">
          <p class="nhsuk-body-s">Updated: Janauary 2020</p>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}
