{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Product Management
{% endblock %}

{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/product-management">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/product-management">Back to Home</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper app-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-5">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-u-margin-bottom-5">Product leadership</h1>
        <p class="nhsuk-body-l">A guide to help new starters when joining a product or service team in NHS Digital.</p>
        <h2 class="nhsuk-heading-l">Understand how the NHS works</h2>
        <p><a href="https://en.wikipedia.org/wiki/History_of_the_National_Health_Service_(England)" target="_blank" rel="noopener noreferrer">History of the National Health Service (England)</a></p>
        <p><a href="https://www.youtube.com/watch?v=DEARD4I3xtE&feature=youtu.be" target="_blank" rel="noopener noreferrer">How does the NHS work? An alternative guide </a></p>
        <p><a href="https://www.nao.org.uk/report/short-guide-for-health/" target="_blank" rel="noopener noreferrer">A short guide to the Department of Health and NHS England</a></p>

        <h2 class="nhsuk-heading-l">Understand what you are trying to accomplish</h2>
        <p><a href="https://www.longtermplan.nhs.uk/publication/nhs-long-term-plan/" target="_blank" rel="noopener noreferrer">The NHS Long Term Plan</a></p>
        <p><a href="https://www.gov.uk/government/publications/the-future-of-healthcare-our-vision-for-digital-data-and-technology-in-health-and-care/the-future-of-healthcare-our-vision-for-digital-data-and-technology-in-health-and-care" target="_blank" rel="noopener noreferrer">The future of healthcare: Our vision for digital, data and technology in health and care
    </a></p>
        <p><a href="https://www.gov.uk/government/publications/personalised-health-and-care-2020" target="_blank" rel="noopener noreferrer">Personalised health and care 2020
    </a></p>
        <p><a href="https://digital.nhs.uk/about-nhs-digital/our-work/transforming-health-and-care-through-technology/fit-for-2020-report-from-the-nhs-digital-capability-review" target="_blank" rel="noopener noreferrer">Fit for 2020 - report from the NHS Digital Capability Review</a></p>
        <p><a href="https://topol.hee.nhs.uk/" target="_blank" rel="noopener noreferrer">Preparing the healthcare workforce to deliver the digital future</a></p>
        <p><a href="https://digital.nhs.uk/about-nhs-digital/our-work/transforming-health-and-care-through-technology/fit-for-2020-report-from-the-nhs-digital-capability-review/nhs-digital-our-role-in-the-health-and-care-system" target="_blank" rel="noopener noreferrer">NHS Digital - our role in the health and care system</a></p>

        <h2 class="nhsuk-heading-l">Learn what is being done</h2>
        <p><a href="https://digital.nhs.uk/blog/transformation-blog" target="_blank" rel="noopener noreferrer">NHS Digital Transformation blog</a></p>
        <p><a href="https://digital.nhs.uk/services" target="_blank" rel="noopener noreferrer">NHS Systems and services</a></p>
        <p><a href="https://www.nhsx.nhs.uk/what-we-do" target="_blank" rel="noopener noreferrer">NHSX - what we do</a></p>
        <p><a href="https://digitalhealth.blog.gov.uk/" target="_blank" rel="noopener noreferrer">Department for health and social care digital blog</a></p>
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-8">
        <div class="nhsuk-review-date">
          <p class="nhsuk-body-s">Updated: December 2019</p>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}
