{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
   Digital Transformation
{% endblock %}

{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/product-management">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/product-management">Back to Home</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper app-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-5">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-u-margin-bottom-5">Training courses</h1>
        <p class="nhsuk-body-l">A list of helpful guides and courses ordered around key digital skills.
</p>
        <h2 class="nhsuk-heading-l">Agile working</h2>

<p><a href="https://www.gov.uk/service-manual/agile-delivery" target="_blank" rel="noopener noreferrer">
​Agile delivery in GDS Service Manual (read)</a></p>

<p><a href="https://www.gov.uk/guidance/digital-and-agile-awareness-course-description" target="_blank" rel="noopener noreferrer">
​Digital and agile awareness course - GDS Academy (course)</a></p>

<p><a href="https://www.gov.uk/guidance/digital-and-agile-foundation-course-description" target="_blank" rel="noopener noreferrer">
​Digital and agile foundation - GDS Academy (course)</a></p>

<p><a href="https://www.gov.uk/guidance/agile-for-teams-course-description" target="_blank" rel="noopener noreferrer">
​Agile for teams - GDS Academy (course)</a></p>

<p><a href="https://www.gov.uk/guidance/hands-on-agile-for-leaders-course-description" target="_blank" rel="noopener noreferrer">
Hands on agile for leaders - GDS Academy (course)</a></p>



        <h2 class="nhsuk-heading-l">User focus</h2>
        <p><a href="https://www.gov.uk/service-manual/user-research" target="_blank" rel="noopener noreferrer">User research in GDS Service Manual (read)</a></p>

        <p><a href="https://www.gov.uk/guidance/introduction-to-user-centred-design-in-government" target="_blank" rel="noopener noreferrer">Introduction to user centred design - GDS Academy (course)</a></p>

      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-8">
        <div class="nhsuk-review-date">
          <p class="nhsuk-body-s">Updated: Janauary 2020</p>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}
