{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Product Management
{% endblock %}

{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/product-management">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/product-management">Back to Home</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
      <main class="nhsuk-main-wrapper app-main-wrapper" id="maincontent">

<div class="nhsuk-grid-row nhsuk-u-margin-bottom-5">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-u-margin-bottom-5">Digital perspective</h1>
    <p class="nhsuk-body-l">Understanding design, technology and data principles.</p>
  </div>
</div>

<div class="nhsuk-grid-row nhsuk-u-margin-top-8">
  <div class="nhsuk-grid-column-one-third">
    <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="/product-management/digital-perspective/Technical-architecture">Technical architecture</a></h2>
    <p>Understanding your tech stack.</p>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="/product-management/digital-perspective/Digital-inclusion">Digital inclusion</a></h2>
    <p>Learn about digital inclusion.</p>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="/product-management/digital-perspective/External-resources">External resources</a></h2>
    <p>Helpful links and information.</p>
  </div>
</div>



<div class="nhsuk-grid-row nhsuk-u-margin-top-4">


      </main>
    </div>
    {% endblock %}
