{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Digital transformation
{% endblock %}

{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/product-management">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/product-management">Back to Home</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper app-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-5">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-u-margin-bottom-5">Lifestyle perspective</h1>
        <p class="nhsuk-body-l">Managing the delivery of products or services at different phases.</p>
      </div>
    </div>

    <div class="nhsuk-grid-row nhsuk-u-margin-top-8">
      <div class="nhsuk-grid-column-one-third">
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="/lifestyle-perspective/moving-phases">Moving from Alpha to Beta</a></h2>
        <p>Fill me in.</p>
      </div>
      <div class="nhsuk-grid-column-one-third">
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="/lifestyle-perspective/pivoting">Pivoting a product</a></h2>
        <p>Fill me in.</p>
      </div>
      <div class="nhsuk-grid-column-one-third">
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="/lifestyle-perspective/implementing-full-lifecycle">Implementing full lifecycle</a></h2>
        <p>Fill me in.</p>
      </div>
  </div>
  </main>
</div>
    {% endblock %}
