<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Product Management {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<section class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h2 class="nhsuk-u-margin-bottom-3">
            Resources and information for those working on health digital products and services
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-grid-row nhsuk-promo-group">
      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item sub-section-buttons">
        {{ promo({ "href": "/overview", "heading": "Overview", "headingLevel":
        2, "description": "Find information and training on digital roles in the NHS." }) }}
      </div>
      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item sub-section-buttons">
        {{ promo({ "href": "/user-focus", "heading": "User focus",
        "headingLevel": 2, "description": "Championing and representing all your
        users." }) }}
      </div>
      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item sub-section-buttons">
        {{ promo({ "href": "/strategic-ownership", "heading": "Strategic ownership", "headingLevel": 2, "description": "Developing strategies for
        your organisation." }) }}
      </div>
    </div>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-grid-row nhsuk-promo-group">
      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item sub-section-buttons">
        {{ promo({ "href": "/agile", "heading": "Agile working", "headingLevel":
        2, "description": "Identifying and comparing the best processes or
        delivery methods to use." }) }}
      </div>
      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item sub-section-buttons">
        {{ promo({ "href": "/lifestyle-perspective", "heading": "Lifestyle perspective", "headingLevel": 2, "description": "Managing the delivery
        of products or services at different phases." }) }}
      </div>
      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item sub-section-buttons">
        {{ promo({ "href": "/product-ownership", "heading": "Product ownership",
        "headingLevel": 2, "description": "Applying tools, terms and concepts."
        }) }}
      </div>
    </div>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-grid-row nhsuk-promo-group">
      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item sub-section-buttons">
        {{ promo({ "href": "/digital-perspective", "heading": "Digital perspective", "headingLevel": 2, "description": "Understanding design,
        technology and data principles." }) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
